* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  padding: 4% 5%;
  align-items: center;
}
header img {
  width: 45%;
}
header nav ul {
  display: flex;
  list-style-type: none;
  column-gap: 2vw;
}
header nav ul li {
  font-weight: 700;
  font-size: 1.1rem;
}
header nav ul li:hover {
  border-bottom: 2px #20BFEA solid;
  transition-duration: 0.1s;
}
header nav ul li a {
  text-decoration: none;
}

@media (min-width: 1023px) {
  header {
    display: flex;
    padding: 2% 5%;
    align-items: center;
  }
  header img {
    width: 15%;
  }
  header nav ul {
    display: flex;
    list-style-type: none;
    column-gap: 2vw;
  }
  header nav ul li {
    font-weight: 700;
    font-size: 1.1rem;
  }
  header nav ul li:hover {
    border-bottom: 2px #20BFEA solid;
  }
  header nav ul li a {
    text-decoration: none;
  }
}
.footer {
  background-image: url(/img/footer.jpg);
  background-size: cover;
  padding: 5%;
}
.footer__iconos {
  color: white;
  display: flex;
  justify-content: space-around;
}
.footer__iconos--titulo {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.footer__menu {
  margin-top: 5%;
  color: white;
}
.footer__menu ul li {
  list-style-type: none;
  padding-top: 3%;
  padding-left: 2%;
  font-weight: 300;
  color: grey;
}
.footer__menu ul li a {
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__iconos {
    font-size: 1.3rem;
  }
  .footer__iconos--titulo {
    font-size: 1.2rem;
  }
  .footer__menu h3 {
    font-size: 1.4rem;
  }
  .footer__menu ul li {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
@media (min-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh;
    grid-template-areas: "footer__iconos footer__menu";
  }
  .footer__iconos {
    grid-area: footer__iconos;
    font-size: 2rem;
    padding-top: 4vh;
  }
  .footer__iconos--titulo {
    font-size: 1.7rem;
  }
  .footer__menu {
    grid-area: footer__menu;
    padding-left: 5vw;
  }
  .footer__menu h3 {
    font-size: 1.5rem;
  }
  .footer__menu li {
    font-size: 1.3rem;
    font-weight: 700;
  }
}
html {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.presentacion {
  height: 60vh;
  background-image: url(/img/impresion3d.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.presentacion p {
  font-weight: 700;
}

.impresoras3d {
  margin-top: 10vh;
}
.impresoras3d__titulo {
  background-color: #20BFEA;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.impresoras3d__imagen {
  padding: 5vh 0;
  width: 50%;
}

.multifuncion {
  margin-top: 10vh;
}
.multifuncion__titulo {
  background-color: #20BFEA;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.multifuncion__imagen {
  padding: 5vh 0;
  width: 50%;
}

.digitalizacion {
  margin-top: 10vh;
}
.digitalizacion__titulo {
  background-color: #20BFEA;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.digitalizacion__imagen {
  padding: 5vh 0;
  width: 50%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .presentacion p {
    font-size: 1.3rem;
  }
  .impresoras3d__titulo {
    font-size: 2rem;
    font-weight: 800;
    height: 12vh;
  }
  .multifuncion__titulo {
    font-size: 2rem;
    font-weight: 800;
    height: 12vh;
  }
  .digitalizacion__titulo {
    font-size: 2rem;
    font-weight: 800;
    height: 12vh;
  }
}
@media (min-width: 1024px) {
  #contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px;
    grid-template-areas: "impresoras3d multifuncion digitalizacion";
  }
  .impresoras3d {
    grid-area: impresoras3d;
    width: 90%;
  }
  .multifuncion {
    grid-area: multifuncion;
    width: 90%;
  }
  .digitalizacion {
    grid-area: digitalizacion;
    width: 90%;
  }
}
.porque {
  padding: 5%;
}
.porque__apertura--titulo {
  color: #20BFEA;
  font-size: 8rem;
  font-weight: 900;
  text-align: center;
}
.porque__apertura--subtitulo {
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
}
.porque__apertura--texto {
  color: grey;
  font-size: 1.1rem;
  margin-top: 2vh;
}
.porque__item1 {
  padding-top: 15vh;
}
.porque__contenedorimagen--imagen {
  width: 50%;
  padding-top: 5vh;
}

.porque__item3--titulo, .porque__item2--titulo, .porque__item1--titulo {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 2vh;
}

.porque__item3--texto, .porque__item2--texto, .porque__item1--texto {
  font-size: 1, 1rem;
  color: grey;
  padding-bottom: 4vh;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .porque__apertura--texto {
    font-size: 1.3rem;
  }
  .porque__item3--titulo, .porque__item2--titulo, .porque__item1--titulo {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 2vh;
  }
  .porque__item3--texto, .porque__item2--texto, .porque__item1--texto {
    font-size: 1.3rem;
    color: grey;
    padding-bottom: 4vh;
  }
}
@media (min-width: 1024px) {
  .porqueapertura--titulo {
    font-size: 12rem;
  }
  .porque__apertura--texto {
    font-size: 2rem;
  }
  .porque__contenedorimagen--imagen {
    width: 45%;
    padding-top: 10vh;
  }
  .porque__item3--titulo, .porque__item2--titulo, .porque__item1--titulo {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2vh;
  }
  .porque__item3--texto, .porque__item2--texto, .porque__item1--texto {
    font-size: 1.4rem;
    color: grey;
    padding-bottom: 4vh;
  }
}

/*# sourceMappingURL=style.css.map */
