.footer{
    background-image: url(/img/footer.jpg);
    background-size: contain;
    padding: 5%;
    &__iconos{
        color: white;
        background-color: black;
        padding: 2vh 0;
        display: flex;
        justify-content: space-around;
        &--titulo{
            color: white;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    &__menu{
        margin-top: 8%;
        margin-left: 4%;
        color: white;
        ul li{
            padding-top: 5%;
            padding-left: 2%;
            font-weight: 300;
            color: grey;
            a{text-decoration: none;
              color: white;
              &:hover{
                color: $color-principal;
              }
            }
        }
    }
    &__hr{
        margin: 5vh 0;
        color: rgb(201, 198, 198);
    }
    &__creditos{
        color: rgb(212, 211, 211);
        font-weight: 100;
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer__iconos {
        padding: 2vh 0;
        font-size: 1.3rem;
        &--titulo{
            font-size: 1.2rem;
        }
    }
    .footer__menu{
        h3 {
            font-size: 1.4rem;
        }
        ul li {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
    }

    @media (min-width: 1024px){
        .footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 10vh 50vh;

            grid-template-areas: 
            "footer__iconos footer__menu"
            ". footer__menu";
        }

        .footer__iconos{
            grid-area: footer__iconos;
            font-size: 2rem;
            padding: 2vh 0;
            &--titulo{
                font-size: 1.7rem;
            }
        }
        .footer__menu {
            grid-area: footer__menu;
            padding-left: 5vw;
            margin-top: 0;            
            h3 {
                font-size: 1.5rem;
            }
            li {
                font-size: 1.3rem;
                font-weight: 700;
            }
        }
    }
  